body {
  margin: 0;
  font-family: Inter, Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family :source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: Inter;
    src: url('../Inter/Inter-VariableFont_slnt,wght.ttf') format("truetype");
}

@font-face {
    font-family: Bangers;
    src: url('../Bangers/Bangers-Regular.ttf') format("truetype");
}

@font-face {
    font-family: Barriecito;
    src: url('../Barriecito/Barriecito-Regular.ttf') format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply rounded-lg bg-secondary-emphasis border border-solid border-primary-emphasis;

    height: 80px;
    width: 50px;
  }

  .emphasis-text {
    font-family: Bangers;
    color: white;
    text-shadow: 2px 1px 1px #2C4DA8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7893DC;
  }

  .card-background {
    background: url('./assets/cardBackground.svg');
    background-size: cover;
    background-color: #E7ECFC;
  }

  .card-secondary-background {
    background: url('./assets/cardSecondaryBackground.svg');
    background-size: cover;
    background-color: #E7ECFC;
  }

  .base-background {
    background: url('./assets/background.svg');
    background-size: cover;
  }
  .second-screen-home {
    background: url('./assets/secondaryBackground.svg');
    background-color: #AEC1F6;
    background-size: cover;
  }

}

