.background {
  background: repeating-linear-gradient(
    -45deg,
    #E4E9F8,
    #E4E9F8 6px,
    #6076B0 1px,
    #6076B0 7px
  )
}

.card {
  background: url('../../../../assets/cardBackground.svg');
  background-size: cover;
  background-color: #E7ECFC;
}
